{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    
    <div class="row d-flex justify-content-center mt-5">
      
            <div class="card col-sm-6 col-md-4 bg-light ">
                
                <div class="p-3">
                    
                    <form>
                    
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Exprime toi champion!" rows="3"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-success">Poster</button>
                </div>
    </div>
   
   
   <div class="row d-flex justify-content-center mt-5">
      
            <div class="card col-sm-6 col-md-4 bg-light ">
                
                <div class="p-3">
                    <div class="text-info h5 "> James Johnson</div>
                    <p class='font-italic'>Posté il y 2 heures</p>
                    <p class= "mt-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.</p>
                </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
      
            <div class="card col-sm-6 col-md-4 bg-light ">
                
                <div class="p-3">
                    <div class="text-info h5 "> Merveil Mon Espoir</div>
                    <p class='font-italic'>Posté il y 4 heures</p>
                    <p class= "mt-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.</p>
                </div>
    </div>

   <div class="row d-flex justify-content-center mt-5">
      
            <div class="card col-sm-6 col-md-4 bg-light ">
                
                <div class="p-3">
                    <div class="text-info h5 "> Merveil Mon Espoir</div>
                    <p class='font-italic'>Posté il y 5 heures</p>
                    <p class= "mt-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.</p>
                </div>
    </div>

   
        
        
        


{% endblock %}